@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Catamaran:900');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

/* Titlebar */
.titlebar {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: white;
  background-color: #87245E;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 5px 15px;
  width: 100%;
}

/* NavBar */
.nav-bar {
  padding: 20px;
}

.all-posts:hover,
.nav-categories:hover {
  cursor: pointer;
}

/* ListView */
.post-list {
  border-left: 2px solid gray;
  padding: 20px;
}

.post-item {
  color: black;
}

.head {
  display: flex;
  margin-bottom: 5px;
}

/* NewComment */
.new-comment {
  padding: 15px;
}

.comment-field {
  padding: 5px;
}

/* PostDetail */
.comment-header {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin: 30px 0px;
}

.vote-score {
  font-size: 2em;
  text-align: center;
}

.vote-div {
  display: flex;
}

.post-title {
  font-family: 'Catamaran', sans-serif;
  font-size: 3em;
}

.post-category {
  font-family: 'Catamaran', sans-serif;
  color: #630887;
  font-size: 1.5em;
}

.post-date {
  color: gray;
  border-bottom: 0.75px solid gray;
  margin-bottom: 15px;
}

.post-author {
  color: #630887;
}

/* Comment */
.comment {
  border-radius: 5px;
  background-color: #F8F5FA;
  margin: 5px;
  padding: 5px 15px;

}

.author {
  font-size: 0.8em;
  font-weight: bolder;
}

.date {
  color: gray;
  font-size: 0.8em;
  margin-left: 20px;
}

.btn-vote {
  font-size: 18px;
  padding: 3px;
}

.comment-score {
  font-size: 1.5em;
  font-weight: bolder;
}
